<%= form_for @comment do |f| %>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label' %>
    <%= f.text_field :content, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <%= f.number_field :user_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :post_id, :class => 'control-label' %>
    <%= f.number_field :post_id, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                comments_path, :class => 'btn' %>
  </div>
<% end %>
